{% extends "base.html" %} {% block content %}

<div class="row">
	<div class="unit-char col-12">
		<h5 class="page-header">
				<span>{{member.name}}</span>
				<span class="bar-space"></span>
			</h5>
		<div class="char-description">
			{{member.description}}
		</div>
		<div class="cat-char-action">
			<a href="{{url_for('showUnit', list_id = member.unit_id)}}" class="btn btn-primary btn-space">Back</a> {% if 'username' in session and creator.id == session['user_id'] %}
			<a href="{{url_for('editMember', list_id = member.unit_id, char_id = member.id)}}" class="btn btn-primary btn-space">Edit</a>
			<a href="{{url_for('deleteMember', list_id = member.unit_id, char_id = member.id)}}" class="btn btn-primary btn-space">Delete</a> {% endif %}
		</div>
	</div>
</div>

{% endblock %}
