{% extends "base.html" %} {% block content %}

<div class="row">
	<div class="units col-sm-5">
			<h3 class="list-header-main">
					<span>Units</span>
					<span class="bar-space-main"></span>
				</h3>
			<ul class="list-text-main">
				{% for unit in units %}
				<a href="{{url_for('showUnit', list_id = unit.id )}}">
					<li class="title-chars">
						<span class="name-char">{{unit.name}}</span>
					</li>
				</a>
				{% endfor %}
			</ul>
		</div>

	<div class="latest col-sm-6">
		<div class="list-recent">
			<h3 class="list-header-main">
					<span>Recently Added</span>
					<span class="bar-space-main"></span>
				</h3>
			<ul class="list-text-main">
				{% for member in members %}
				<a href="{{url_for('showMember', list_id = member.unit_id ,char_id = member.id )}}">
					<li class="title-chars">
						<span class="name-char">{{member.name}}</span>
						<span class="type-char">({{member.unit.name}})</span>
					</li>
				</a>
				{% endfor %} {% if 'username' in session %}
				<a class="btn btn-primary btn-space" href="{{url_for('addMember')}}" role="button">Add Member/s</a> {% endif %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
